# Dependencies
node_modules/

# Build outputs
dist/
build/
.vite/

# Environment variables
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Test coverage
coverage/

# Archive de rendu
*.zip

script.py
sortie.txt